body {
    background-color: #fafafa;
    font-family: Montserrat;
}

.logo {
    background-color: gold;
    padding: 11px;
    padding-left: 25px;
    position: fixed;
    left: 0;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 150px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: clamp(200px, 30%, 50%);
    padding: 6%;
    text-align: center;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #b5b5b5;
}
